<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.13.0/css/all.min.css">
    <title>Seja bem vindo ao sistema de Compras Virtual</title>
</head>

<body>
    <h1 style="text-align: center;">Seja bem vindo!</h1><br>
    <div class="links-logado">
        <div id="listar-produtos">
            <a href="produtos/listar">Listar Produtos</a><br>
        </div>

        <div id="cadastrar-usuarios">
            <a href="usuarios/Cadastrar">Cadastrar Usuários</a><br>
        </div>

        <div id="cadastrar-produtos">
            <a href="produtos/Cadastrar">Cadastrar Produtos</a><br>
        </div>

        <div id="voltar">
            <a href="/">voltar</a>
        </div>
    </div>
</body>

</html>